.idea/
*.iml
*.csv
.DS_Store
target/
*.swp
*.swo
*.txt12
*.log
logs/
/target
.project
.vagrant
.classpath
.settings
*.key
~*.doc
*.pdb
dependency-reduced-pom.xml
log4j.properties
rebel.xml
logback.xml
application.yml
bootstrap.yml
keys/